/*logo styles*/
div.logo img {
  position: absolute;
  z-index: 11;
  top: 1265px; 
  left: 150px;
  background: transparent;
}

  /*nav styles*/
  nav {
  height: 75px;
  background: #004080;
  position:relative;
  z-index:10;
  width:100%;
  top:0px;

}
nav ul {
  align-content: center;
  padding-left: 500px;
  padding-top: 25px;

}
nav ul li {
  display: inline-block;
  margin-left: 80px;
  color: white;
}
nav ul li a {
  font-size: 18px;
  color: white;
}
  a .li:hover {
  background-color: #e5ebf2;
}


/*carousel caption styles */
.carousel-caption3 {
  position: absolute;
    top: 12%;
    left: 38%;
    font-size: 42px;
    color: #e5ebf2;
    text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.carousel-caption2 {
  position: absolute;
    top: 12%;
    left: 42%;
    font-size: 42px;
    color: #e5ebf2;
    text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.carousel-caption1 {
  position: absolute;
    top: 12%;
    left: 42%;
    font-size: 42px;
    color: #e5ebf2;
    text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}
/*info styles*/
.dealerInfo {
font-size: 24px;
height: 480px;
width: 750px;
position:absolute;
float:left;
margin-left: 60px;
z-index: -1;
margin-top: 40px;
}
.serviceInfo {
margin-left: 930px;
margin-top: 700px;
font-size: 24px;
height: 480px;
width: 750px;
z-index: -1;
position: relative;
}
.dealerCom {
font-size: 24px;
height: 480px;
width: 750px;
position:absolute;
float:left;
margin-left: 60px;
z-index: -1;
margin-top: 140px;
}

/*main page pic styles*/
.pic1 {
padding-left: 1000px;
float: right;
margin-right: 50px;
margin-top: 60px;
}
.pic2 {
position:absolute;
float:left;
margin-left: 60px;
z-index: -2;
margin-top: 700px;
}

.pic3 {
padding-left: 1000px;
float: right;
margin-right: 50px;
margin-top: 140px;
}
  /*footer styles*/
  .footer {
height: 75px;
margin-top:1000px;
width: 100%;
background-color: #004080;
color: white;
text-align: center;
z-index: +1;
}
.p1 {
font-size: 20px;
padding-top: 25px;
}
