* {
  margin:0;
  padding:0;
}
/*logo styles*/
div.logo2 img {
  position: absolute;
  z-index: 11;
  top: -163px;
  left: 150px;
  background: transparent;
  }
   /*nav styles*/
  nav {
  height: 75px;
  background: #004080;
  position:relative;
  z-index:10;
  width:100%;
  top:0px;

}
nav ul {
  align-content: center;
  padding-left: 500px;
  padding-top: 25px;

}
nav ul li {
  display: inline-block;
  margin-left: 80px;
  color: white;
}
nav ul li a {
  font-size: 18px;
  color: white;
}
  a .li:hover {
  background-color: #e5ebf2;
}
/*truck page*/
div.truckSpecs {
  background-color:#e5ebf2;
  padding-left: 800px;
  }

.truckSpecs2 {
  background-color:#e5ebf2;
  padding-left: 800px;
  top: 100px;
  }
.truckSpecs3 {
  background-color:#e5ebf2;
  padding-left: 800px;
}

/*truck page pic styles*/

div.runner {
  padding-left: 500px;
}
div.tacoma {
  padding-left: 500px;
}
div.tundra {
    padding-left: 500px;
}

div.footer {
	height: 75px;
	margin-top:150px;
	width: 100%;
	background-color: #004080;
	color: white;
	text-align: center;
	z-index: +1;
}
	.p1 {
	font-size: 20px;
	padding-top: 25px;
	}
